<!DOCTYPE html>
<html>
    <head>

    </head>
    <body class="bg-dark text-light">
        <div class="container-fluid" style="padding-top: 50px; padding-left: 50px; padding-right: 20px;">
            <div class="row align-items-center" style="margin:2px;">
                <div class="col-xl-4">
                    <div class="container-fluid">
                        <div class="card bg-light" >
                            <img src="../../../assets/profile photo1.jpg" class="card-img-top" alt="Profile Picture" style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">C.D. Ravindi Maleesha Weerasinghe</h5>
                                <p class="card-text">Undergraduate <br>Department of Computer Science and Engineering<br>University of Moratuwa</p>

                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-light">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="mailto: ravindi.20@cse.mrt.ac.lk"> Email</a>    
                                </li>
                                <li class="list-group-item bg-light">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a> +94 490 8999</a>
                                </li>
                                <li class="list-group-item bg-light">
                                    <i class=" fa fa-brands fa-github" aria-hidden="true"></i>
                                    <a href="https://github.com/RMWeerasinghe"> github</a>
                                </li>
                                
                                <li class="list-group-item bg-light">
                                    <i class=" fa fa-brands fa-linkedin" aria-hidden="true"></i>
                                    <a href="https://www.linkedin.com/in/ravindi-weerasinghe-07902923b"> linkedin</a>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>  
                <div class="col-xl-8">
                    <div class="container-fluid">
                        <div style="padding-bottom:20px;">
                            <h1>Hi, I'm Ravindi!</h1>
                        </div>
                        
                    <p class=" lead fw-normal" style="text-align: justify;">

                        I am an ambitious undergraduate with a passion for technology and a strong belief in its power to improve the world. 
                        <br>
                        My love for mathematics and computer science has brought me to this point as a computer science and engineering student. 
                        My field of study, computer science and data science engineering, 
                        possesses a solid theoretical foundation and extends its abilities through innovation beyond the theories. 
                        Hence, I am eager to apply my academic knowledge and experience in more practical industry environments, 
                        taking my first step towards becoming a professional engineer. 
                        Moreover, I aspire to utilize my industrial placement to broaden my knowledge and enhance my skills while making a 
                        valuable contribution towards the betterment of society through technology.
                    </p>

                    <p style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif; padding-top: 50px;">
                        <i><b>Areas of Interest:</b> Machine Learning, Data Science, Statistics</i>
                    </p>
                </div>
                </div>
                
            </div>
        </div>
        
    </body>
</html>
