<!DOCTYPE html>
<html>
    <head></head>
    <body class="bg-white">
        <div class="container-fluid" style="padding-top: 50px; padding-left: 50px; padding-right: 20px;">
            <h3 style="padding-top: 50px; padding-bottom: 10px;padding-left:20px ;">Projects</h3>
            <div class="row " style="margin:20px">
                <div class="col-xl-4 mb-3 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <img src="../../../assets/Blank diagram1 - Page 1.jpg" class="card-img-top" alt="..." style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">Bus Arrival Time Prediction</h5>
                                <p class="card-text"> A Data Science and Enginnering project which uses machine learning concepts for bus arrival time prediction under
                                    heterogeneous traffic conditions. 
                                    <br>
                                    <br>
                                    <b>Contribution:</b> Machine Learning Models
                                    <br>
                                    <b>Languages:</b> Python
                                    <br>
                                    <br>
                                    <i class="fa fa-brand fa-github"></i>
                                    <a href="https://github.com/akw2000/Bus-arrival-time-prediction-and-real-time-updating-dashboard-with-topological-data"> Project</a>
                                </p>

                            </div>
                        </div>
                    
                </div>

                <div class="col-xl-4 mb-3 d-flex align-items-stretch">
                    
                        <div class="card bg-light">
                            <img src="../../../assets/parser.jpg" class="card-img-top" alt="..." style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">RPAL Interpreter</h5>
                                <p class="card-text">An Interpreter for the functional language RPAL consisting of a scanner, parser and a CSE machine.Implemented as a 
                                    group assignment under CS3513 - Programming Languages.
                                    <br>
                                    <br>
                                    <b>Contribution:</b> Parser
                                    <br>
                                    <b>Languages:</b> Java
                                    <br>
                                    <br>
                                    <i class="fa fa-brand fa-github"></i>
                                    <a href="https://github.com/akw2000/rpal_project_group_29"> Project</a>
                                </p>

                            </div>
                        </div>    
                    
                </div>

                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    
                        <div class="card bg-light">
                            <img src="../../../assets/WhatsApp Image 2023-09-16 at 12.04.05.jpg" class="card-img-top" alt="..." style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">Bank Transaction Management System</h5>
                                <p class="card-text">
                                    A bank transaction management system with a web application implemented as a group project under CS3043-Database systems
                                    <br>
                                    <br>
                                    <b>Contribution: </b> Database, Backend
                                    <br>
                                    <b>Languages: </b> Javascript, SQL
                                    <br>
                                    <b>Frameworks: </b> Node, Reactjs
                                    <br>
                                    <b>Database: </b> MySQL
                                    <br>
                                    <br>
                                    <i class="fa fa-brand fa-github"></i>
                                    <a href="https://github.com/RMWeerasinghe/Bank-Transaction-Management-System"> Project</a>
                                </p>

                            </div>
                        </div>
                    
                </div>
            </div>


            <div class="row" style="margin:20px">
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    
                        <div class="card bg-light">
                            <img src="../../../assets/nanoprocessor.jpeg" class="card-img-top" alt="..." style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">Nano Processor</h5>
                                <p class="card-text">4-bit nano processor capable of executing 4 instructions. Implemented as a project under 
                                    CS1050 - Computer Otganiztion and Digital Design
                                    <br>
                                    <br>
                                    <b>Languages:</b> VHDL
                                    <br>
                                    <br>
                                    <i class="fa fa-brand fa-github"></i>
                                    <a href="https://github.com/RMWeerasinghe/Nano-Processor"> Project</a>
                                </p>

                            </div>
                        </div>
                    
                </div>

                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    
                        <div class="card bg-light">
                            <img src="../../../assets/emailclient.png" class="card-img-top" alt="..." style="padding-left: 10px;padding-right: 10px;padding-top: 10px;">
                            <div class="card-body ">
                                <h5 class="card-title">Email Client</h5>
                                <p class="card-text"> A command-line based email client capable of sending emails to stored reciepients, adding new reciepients, 
                                    and print details of previously sent emails.
                                    <br>
                                    <br>
                                    <b>Languages:</b> Java
                                    <br>
                                    <br>
                                    <i class="fa fa-brand fa-github"></i>
                                    <a href="https://github.com/RMWeerasinghe/Email-Client"> Project</a>
                                </p>

                            </div>
                        </div>
                    
                </div>
            </div>
        </div>

    </body>
</html>
