<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <!-- Example Code -->
    
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ravindi Weerasinghe</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  [routerLink] = "['/']"  fragment="about" >About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink] = "['/']"  fragment="education">Education & Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink] = "['/']"  fragment="projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CV</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <div>
      
    </div>
    <section id="about" class="about-section">
      <app-about></app-about>
    </section>
    <section id="education" class="education-section">
      <app-education></app-education>
    </section>
    <section id="projects" class="projects-section">
      <app-projects></app-projects>
    </section>

    
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    
  </body>
   <footer class="py-3 my-4" style="background-color: rgb(98, 98, 252)">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-light">
      <li class="nav-item">
        <a [routerLink] = "['/']"  fragment="about" class="nav-link px-2 text-muted"> About</a>
      </li>
      <li class="nav-item">
        <a [routerLink] = "['/']"  fragment="education" class="nav-link px-2 text-muted"> Education & Skills</a>
      </li>
      <li class="nav-item">
        <a [routerLink] = "['/']"  fragment="projects" class="nav-link px-2 text-muted"> Projects </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">CV</a>
      </li>
    </ul>

    <p class="text-center text-muted">&copy; Ravindi Weerasinghe, 2023</p>

   </footer>
</html>