.bgcustom{
    background: linear-gradient(135deg, gray,silver, black);
}

h2 {
    position: relative;
    color: hsl(0, 0%, 4%);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 7px;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both ;
  }
  
.bgprogress{
    background-color: black;
}

.skill-list{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight:bold;
    font-size: medium;
}